/* All selectors here should only alter .files children classes */

/* ipad fixes */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .files > div {
        bottom: 0px;
    }
}

/* iphone fixes */
@media only screen and (max-device-width: 480px) {
    h1 {
        font-size: 26px;
    }
    .files {
        min-width: 300px;
        margin: auto;
    }
    .files > div:not(.header) {
        position: relative;
        width: 100% !important;
        height: 100px;
        margin-bottom: -15px;
        top: 50px;
        left: 0px !important;

        -moz-transform: scale(1) matrix(1, 0.3, -0.3, 1, 0, 0) !important;
        -webkit-transform: scale(1) matrix(1, 0.3, -0.3, 1, 0, 0) !important;
        -o-transform: scale(1) matrix(1, 0.3, -0.3, 1, 0, 0) !important;
        -ms-transform: scale(1) matrix(1, 0.3, -0.3, 1, 0, 0) !important;
        transform: scale(1) matrix(1, 0.3, -0.3, 1, 0, 0) !important;
    }
    .files .open {
        float: none;
        margin: 50px 0;
    }
    .files > .header {
        top: 0px;
        bottom: 0px;
    }
}
