/* All selectors here should only alter .files children classes */

.files {
    min-width: 300px;
}

/* hidding elements to clean interface*/
.files div p,
.files div ul,
.files div h4 {
    display: none;
    height: 0;
    opacity: 0;
}

/* diagonal boxes specific styles */
.files > div {
    border: medium solid rgb(187, 187, 187);
    padding: 0 30px;
    cursor: pointer;
    margin-bottom: -30px;
    width: 40%;
    height: 80px;
    position: relative;
    bottom: 30px;
    background-color: #FFFFFF;

    /* box shadow */
    -webkit-box-shadow:  10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  10px 10px 5px 0px rgba(0, 0, 0, 0.5);

    /* border radius */
    -webkit-border-radius: 15px;
    border-radius: 15px;

    /* transitions */
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    /* transforms */
    -moz-transform: matrix(1, 0.3, -0.3, 1, 0, 0);
    -webkit-transform: matrix(1, 0.3, -0.3, 1, 0, 0);
    -o-transform: matrix(1, 0.3, -0.3, 1, 0, 0);
    -ms-transform: matrix(1, 0.3, -0.3, 1, 0, 0);
    transform: matrix(1, 0.3, -0.3, 1, 0, 0);
}
.files > div:hover {
    /* transforms */
    -moz-transform: scale(1.1) matrix(1, 0.3, -0.3, 1, 0, 0);
    -webkit-transform: scale(1.1) matrix(1, 0.3, -0.3, 1, 0, 0);
    -o-transform: scale(1.1) matrix(1, 0.3, -0.3, 1, 0, 0);
    -ms-transform: scale(1.1) matrix(1, 0.3, -0.3, 1, 0, 0);
    transform: scale(1.1) matrix(1, 0.3, -0.3, 1, 0, 0);
}

/* open state */
.files .open {
    cursor: text;
    height: 100%;
    float: right;
    position: relative;
    bottom: 100px;

    /* transforms */
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.files .open:hover {
    /* transforms */
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.files .hidden {
    height: 0;
    opacity: 0;
    margin-bottom: 0px;
}
.files .open p,
.files .open ul,
.files .open h4 {
    display: block;
    height: 100%;
    opacity: 1;
}
.files .columns {
    width: 100%;
    float: none;
}

/* header specific styles */
.files .header {
    border: none;
    padding: 0 30px;
    cursor: auto;
    margin-bottom: 13px;
    height: auto;
    width: 100%;
    position: static;

    /* box shadow */
    -webkit-box-shadow:  0 0 0 0 rgba(0, 0, 0, 0.5);
    box-shadow:  0 0 0 0 rgba(0, 0, 0, 0.5);

    /* border radius */
    -webkit-border-radius: 0px;
    border-radius: 0px;

    /* transitions */
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;

    /* transforms */
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);

}
.files > .header:hover {
    /* transforms */
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.files .header p {
    display: block;
    height: 100%;
    opacity: 1;
}

.files hr {
    display: none;
}

.files .headerLine {
    display: block;
    width: 50px;
    margin-bottom: 20px;

    /* transitions */
    -webkit-transition: width 3s linear;
    -moz-transition: width 3s linear;
    -ms-transition: width 3s linear;
    -o-transition: width 3s linear;
    transition: width 3s linear;
}

.files .headerLongerLine {
    width: 90%;
}
