/* All selectors here should only alter .files children classes */

.files div p,
.files div ul,
.files div h4 {
    display: none;
}

.files .header p {
    display: block;
}

.files hr {
    display: none;
}

.files .headerLine {
    display: block;
    width: 50px;
    margin-bottom: 20px;

    /* transitions */
    -webkit-transition: width 3s linear;
    -moz-transition: width 3s linear;
    -ms-transition: width 3s linear;
    -o-transition: width 3s linear;
    transition: width 3s linear;
}

.files .headerLongerLine {
    width: 90%;
}

.files > div {
    border: medium solid rgb(187, 187, 187);
    padding: 0 30px;
    cursor: pointer;
    margin-bottom: -30px;
    width: 40%;
    min-width: 300px;
    height: 80px;
    position: relative;
    background-color: #FFFFFF;

    /* box shadow */
    -webkit-box-shadow:  10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  10px 10px 5px 0px rgba(0, 0, 0, 0.5);

    /* border radius */
    -webkit-border-radius: 15px;
    border-radius: 15px;

    /* transitions */
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.files .header {
    border: none;
    padding: 0 30px;
    cursor: auto;
    margin-bottom: 13px;
    width: 100%;

    /* box shadow */
    -webkit-box-shadow:  0 0 0 0 rgba(0, 0, 0, 0.5);
    box-shadow:  0 0 0 0 rgba(0, 0, 0, 0.5);

    /* border radius */
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
