<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="Description" content="{{description}}" />
    <meta name="Keywords" content="{{keywords}}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Distribution" content="Global" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>{{title}}</title>
    <meta name="title" content="{{title}}" />
    <meta name="robots" content="index, follow" />
    <meta name="url" content="{{url}}" />
    <meta name="charset" content="UTF-8" />
    <meta name="author" content="{{author}}" />
    <meta name="revisit-after" content="2" />
    <meta name="google-site-verification" content="sMUlC5tVxdXsao5JUraBvqS5AtQossLLxKQJ9K8J2lM" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/reset.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="css/reset_m.css" type="text/css" charset="utf-8" />
    {{#has_css}}
        <link rel="stylesheet" href="css/files.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="css/files_mobile.css" type="text/css" charset="utf-8" />
    {{/has_css}}
    {{#has_js}}
        <script type="text/javascript" charset="utf-8" src="js/vendor/modernizr.js"></script>
    {{/has_js}}
</head>
<body>
    <a class="anchor" href="#summary">Skip to summary</a>
    <div class="header">
        <h1><a name="information" href="./">{{author}}</a></h1>
        <p class="address">{{{address}}}</p>
        <ul class="contact" id="contact_list" aria-labelledby="contact_list_label">
        {{#contacts}}
            <li>
            <a href="{{link}}">
                <span class="icon" style="background-image:url(images/logos.png);background-position:{{background_position}} 0;"></span>
                <span class="label">{{label}}<span></a>
            </li>
        {{/contacts}}
        </ul>
        <div style="display:none" id="contact_list_label">Contact list</div>
        <h2 class="anchor"><a name="summary">Summary</a></h2>
        <ul class="anchor">
            {{#sections}}
            <li><a href="{{anchor}}">{{title}}</a></li>
            {{/sections}}
        </ul>
    </div>
    <hr />
    <div class="wrapper">
        {{#introduction}}
            <div class="introduction">
                <h2 id="introduction_header"><a name="introduction">{{headline}}</a></h2>
                <p class="introduction">{{paragraph}}</p>
             <a class="anchor" href="#summary">Back to summary</a>
            </div>
        {{/introduction}}
        <hr />
        {{#profile}}
            <div class="profile">
                <h3 id="profile_header"><a name="profile">{{headline}}</a></h3>
                <ul aria-labelledby="profile_header">
                    {{#paragraphs}}
                        <li>{{paragraph}}</li>
                    {{/paragraphs}}
                </ul>
             <a class="anchor" href="#summary">Back to summary</a>
            </div>
        {{/profile}}
        <hr />
        {{#expertise}}
        <div class="expertise">
            <h3 id="expertise_header"><a name="expertise">{{headline}}</a></h3>
            {{#technologies}}
            <div class="columns">
                <h4 id="technologies_header">{{headline}}</h4>
                <ul aria-labelledby="technologies_header">
                {{#list}}
                    <li>{{description}}</li>
                {{/list}}
                </ul>
            </div>
            {{/technologies}}
            {{#programming}}
            <div class="columns">
                <h4 id="programming_header">{{headline}}</h4>
                <ul aria-labelledby="programming_header">
                {{#list}}
                    <li>{{description}}</li>
                {{/list}}
                </ul>
            </div>
            {{/programming}}
         <a class="anchor" href="#summary">Back to summary</a>
        </div>
        {{/expertise}}

        {{#additional_information}}
        <div class="{{class}}">
            <h3 id="{{class}}_header"><a name="{{anchor}}">{{headline}}</a></h3>
            <ul aria-labelledby="{{class}}_header">
            {{#list}}
                <li>{{{description}}}</li>
            {{/list}}
            </ul>
         <a class="anchor" href="#summary">Back to summary</a>
        </div>
        {{/additional_information}}
    </div>
    {{#has_js}}
        <script type="text/javascript" charset="utf-8" src="js/files/helpers.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/files/standard_view.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/files/diagonal_view.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/files/view_controller.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/files/keyboard_handler.js"></script>
        <script type="text/javascript" charset="utf-8" src="js/init.js"></script>
    {{/has_js}}
</body>
</html>
